@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;1,600&family=Grenze+Gotisch&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Grenze Gotisch', cursive;
}

h1,
h2,
h3,
input {
    margin: 5px;
}

img {
    max-width: 50%;
    display: block;
    border-radius: 15px;
    margin: 15px;
}